.job-ad-container {
  display: grid;
  width: 99%;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 1% 5%;
  margin-bottom: 2%;
}

.job-ad {
  background-color: var(--theme-color-4);
  border: 1px solid var(--background-col);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-align: left;
}

.job-ad:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.job-ad h3 {
  font-size: 1.2rem;
  color: var(--background-col);
  margin-bottom: 10px;
}

.job-ad .company {
  font-size: 1rem;
  color: var(--theme-color-8);
  margin-bottom: 5px;
  font-weight: bold;
}

.job-ad .job-type {
  font-size: 0.9rem;
  color: var(--theme-color-7);
  margin-bottom: 5px;
}

.job-ad .location {
  font-size: 0.9rem;
  color: #666;
}

.apply-btn {
  background-color: var(--theme-color-8);
  color: var(--theme-color-4);
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin: 10px 0;
  width: 100%;
  font-size: 1rem;
  font-family: "Lilita One", serif;
  letter-spacing: 2px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.apply-btn:hover {
  background-color: var(--background-col);
}

#extend-icon {
  display: flex;
  justify-content: right;
  font-size: 20px;
  cursor: pointer;
}

.error-message {
  color: var(--background-col);
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
}

.error-message p {
  font-family: "Bangers", serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 5px;
  margin-bottom: 20px;
}

.error-message i {
  font-size: 3rem;
  color: var(--theme-color-8);
}